*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/docs/build/

*.log
*.dat
*.ini
*.blf
*.regtrans-ms
.ntuser*
.anaconda/
.bash_history
.cisco/
.conda/
.continuum/
.docker/
.dotnet/
.ipython/
.jupyter/
.matplotlib/
.nuget/
.openshot_qt/
.ssh/
.vscode/
.wdm/
3D\ Objects/
AppData/
Desktop/
Documents/
Downloads/
Favorites/
Music/
Pictures/
Saved\ Games/
Searches/
Videos/

